/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Lexanna Schultz and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/lexanna_schultz_background.jpg)
      center center fixed no-repeat;
    background-size: cover;
	
	
}

.center {
    width: 800px;
	padding: 2%;
    margin: 100px auto; 
    border-radius: 100px 100px;
    text-align: center;
    background: rgba(256, 256, 256, 1); /*this uses opacity of 100% for the background color*/
	text-align: center;
}

   
#logo {
    margin-bottom: 50px;
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
    font-family: didot;
    width: 500px;
    font-size: 2em;
    margin: 0px auto 10px auto;
    color: #01516d;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
    font-family: didot;
    width: 450px;
    font-size: 1.5em;
    line-height: 1.4;
    color: #01516d;
    padding: 0px 0px;
    margin: 10px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */	
    font-family: didot;
    font-size: 1em;
    width: 500px;
    line-height: 1.6;
    margin: 20px auto 20px auto;
    color: #01516d;
}
    
    

nav{
    font-family: didot; 
    font-size: 1.2 em;
    width: 400px; /* width of nav element */
    margin: 0 auto; /* centers entire nav element inside center div */
    border: white;
    border-width: 2px 0; /* puts a 2 pixel border on top and bottom of nav element, zero eliminates left and right sides */
    text-align: center;
    margin-top: 2em auto; /*adds space above nav element */
    border-top: 1px solid #01516d;
    border-bottom: 1px solid #01516d;
    

    }

nav li{
    display:inline; /* allows the block level elements to display next to one another */
    }

nav a{
    display:inline-block;
    padding: 10px; /* adds space around eachlink */  
    }

a{
    color: #01516d;
    text-decoration: none; /* removes underline */
    font-weight: bold;
    }
a:hover{
    color: #01516d;
    background: #93cbc9
    }